.demo-container {
  width: 400px;
  height: 600px;
  border: 1px solid #eee;
  padding: 10px;
}

.tree-node {
  .title {
    display: inline-block;
    margin-right: 10px;
  }
  .edit-input {
    height: 24px;
    width: 160px;
  }
  .edit-btn-container {
    float: right;
    .tree-icon {
      color: #52c41a;
      margin-right: 5px;
      font-size: 14px;
    }
  }
}

.tree-node:hover {
  .edit-btn-container {
    display: inline;
  }
}

.edit-btn-container {
  display: none;
}
